<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Weight Calculator</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Weight</th>
          <th class="text-center">Total Cost</th>
          <th class="text-center"></th>
        </tr>
        <tr *ngFor="let item of itemList; let ids = index">
          <td>
            <span (keyup)="changeValue(ids, item.id, 'name', $event)" (blur)="updateList(ids, item.id, 'name', $event)" contenteditable="true">{{item.name}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(ids, item.id, 'weight', $event)" (blur)="updateList(ids, item.id, 'weight', $event)">{{item.weight}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(ids, item.id, 'totalCost', $event)" (blur)="updateList(ids, item.id, 'totalCost', $event)">{{item.totalCost}}</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(item.id)">Remove</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->